.nav-canteen {
    position: absolute;
    top: 35%;
    display: inline-block;
}
.nav-canteen li a {
    text-decoration: none;
    color: #fff;
    margin: 2.2em;
    padding: 5px 0;
    font-size: 20px;
    
}
@media (max-width:1400px) {
    .nav-canteen li a {
        font-size: 15px;
    }
}

.nav-canteen li a:hover {
    border-bottom: 2px solid #fff;
}

ul {
    display: inline;
    list-style-type: none;
}

li {
    display: inline;
    text-decoration: none;
    color: #fff;
}


/*HOME PAGE when no order
-----------------------------------*/
.no-order img, .no-notification img {
    width: 200px;
    margin-left: 50px;
    margin-top: 150px;
}
.no-order h1, .no-notification h1 {
    font-size: 40px;
    text-align: center;
    margin-top: 220px;
    float: right;
    padding-right: 50px;
}

.no-notification img {
    margin-left: 250px;
}

.no-notification h1 {
    padding-right: 250px;
}

/*HOME PAGE when items are ordered
-----------------------------------*/
.ordered-item {
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
    /*height: 450px;*/
    width: 32%; 
    border: 1px solid #aaacaf;
    padding: 1px;
}

.ordered-item img {
    width: 100%;
    /*height: 300px;*/
}

.ordered-item span{
    margin-top: 0;
    font-size: 30px;
    font-weight: bold;
    color: #b72c2c;
}

/*FOOD ITEM TAB
---------------*/
.add-item-btn {
    float: right;
    background-color: #26a837;
    border: none;
    color: white;
    margin-top: 15px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 10px;
}

/*NOTIFICATION TAB
------------------*/
.user-row {
    position: relative;
    left: 40%;
}

.user_pic img {
    padding-top: 20px;
    width: 100px;
    border-radius: 10px;
}

.user_name p {
    font-weight: bold;
   /* float: left;*/
   /* padding: 20px;*/
}

.request_time p {
    font-weight: bold;
   /* float: left;*/
    /*padding: 20px;*/
}

.food_list p {
    font-weight: bold;
}

.mark_served {
    height: 34px;
    width: 70px;
    padding: 4px 9px;
    background: #185dcc;
    border: 1px solid rgb(146, 172, 239);
    border-radius: 3px;
    text-decoration: none;
    color: #e3e6ed;

}

.mark_served:hover {
    cursor: pointer;
    background: #11397a;
}





.add-item-btn:hover {
    background-color: #1f7a2b;
    cursor: pointer;
}


#addPopUp{
    display: none;
}

/* Form (background) */
        .form {
            display: none; /* Hidden by default 
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            /*padding-top: 100px;*/ /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
            line-height: 50px;
        }

        /* Form Content */
        .form-content {
            background-color: #fefefe;
            margin: auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
        }

         /*The Close Button 
        .close {
            color: #aaaaaa;
            font-size: 28px;
            font-weight: bold;
        }*/