
/*NAVIGATION BAR
-----------------*/
.nav-customer {
	position: absolute;
	top: 35%;
	display: inline-block;
}
.nav-customer li a {
	text-decoration: none;
	color: #fff;
	margin: 2.2em;
	padding: 5px 0;
	font-size: 20px;
	
}
@media (max-width:1400px) {
	.nav-customer li a {
		font-size: 15px;
	}
}

.nav-customer li a:hover {
	border-bottom: 2px solid #fff;
}

ul {
	display: inline;
	list-style-type: none;
}

li {
	display: inline;
	text-decoration: none;
	color: #fff;
}

/*HOME
----------------*/

@keyframes slider {
	0% { left: 0%; }
	15% { left: 0%; }
	20% { left: -100%; }
	35% { left: -100%; }
	40% { left: -200%; }
	55% { left: -200%; }
	60% { left: -300%; }
	75% { left: -300%; }
	80% { left: -400%; }
	95% { left: -400%; }
	100% { left: 0%; }
}

.slider {
	overflow: hidden;	
	width: 100%;
	height: 500px;
	box-shadow: 3px 3px 3px gray;
	/*position: relative;*/
	/*margin: 0 auto;*/
	
}

.slider figure {
	position: relative;
	width: 500%;
	margin: 0;
	left: 0;
	text-align: center;
	animation: 15s slider infinite;
}

.slider figure img{
	width: 20%;
	float: left;
	overflow: hidden;
}

.featured {
	width: 100%;
}

.featured p {
	text-align: center;
	padding: 3px;
	width: 100%;
	background: #26a837;
	box-shadow: 5px 5px 5px gray;
	color: white;
	font-size: 20px;
}

.item {
	display: inline-block;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
	width: 24.5%;
	margin-bottom: 20px;
	margin-left: 5px;
	border-radius: 3px;
}

.item img {
	width: 100%;
	height: 210px;
}

.item span {
	text-align: center;
	display: block;
	padding: 5px;
	background: #b72c2c;
	color: white;
}
.item a {
	padding: 10px;
	text-align: center;
	display: block;
	text-shadow: 2px 2px 4px black;
	text-transform: uppercase;
	box-shadow: 1px 1px 25px 1px #470707 inset;
	text-decoration: none;
	margin-top: 1px;
	font-weight: 900;
	background: #931a1a;
	color: white;
}

.item a:hover {
	background: #6b1313;
}

/*FOOD AND BEVERAGES
--------------------*/

.food-item, .beverage-item {
	position: relative;
	display: inline-block;
	margin-bottom: 20px;
	height: 450px;
	width: 49%;	
	border: 1px solid #aaacaf;
	padding: 1px;
}

.food-item img, .beverage-item img {
	width: 100%;
	height: 300px;
}

.food-item span, .beverage-item span{
	font-size: 30px;
	font-weight: bold;
	color: #b72c2c;
}

.food-item a, .beverage-item a, .cart-item a {
	position: absolute;
	display: inline-block;
	right: 0;
	width:200px;
	color: #fff;
	font-size: 20px;
	font-weight: 900;
	border-radius: 50px;
	padding: 5px;
	margin-bottom: 5px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	background: #b72c2c; 
}

.food-item a:hover, .beverage-item a:hover, .cart-item a:hover {
	background: #931a1a;
}

/*CART
-----------*/

.empty-cart {
	font-size: 20px;
    text-align: center;
    margin-top: 200px;
    float: right;
    padding-right: 350px;
}

.full-cart {
	display: inline-block;
}

.cart-item {
	position: relative;
	display: inline-block;
	margin-bottom: 30px;
	height: 450px;
	width: 49%;	
	border: 1px solid #aaacaf;
	padding: 1px;
}

.cart-item img {
	width: 100%;
	height: 300px;
}

.cart-item span {
	font-size: 30px;
	font-weight: bold;
	color: #b72c2c;
}
.total.order.serve h2 {
	position: relative;
	display: inline-block;
}

.cart-box form input[name="order"], .cart-box form input[name="serve"] {
	display: inline-block;
	margin-left: 30%;
	margin-bottom: 30px;
	height: 30px;
	border: none;
	color: white;
	outline: none;
	height: 40px;
	width: 40%;
	cursor: pointer;
	font-size: 25px;
	border-radius: 50px;

}

.cart-box form input[name="order"] {
	background: #b72c2c
}

.cart-box form input[name="serve"] {
	background: #26a837;
}

.cart-box form input[name="order"]:hover {
	background: #931a1a;
}

 .cart-box form input[name="serve"]:hover {
 	background: #238e31;
 }